In [2]:
import pandas as pd

In [13]:
df = pd.read_csv("tally.csv",usecols=['pid','tid','beers'])
df = df.sort_values('tid')
df[df.tid<300]

      pid  tid  beers
1314   23  172      6
1321   57  172      7
1320   59  172      4
1319   46  172      5
1318   43  172      5
...   ...  ...    ...
1539   40  299      2
1538    1  299      4
1544   72  299      3
1543   70  299      4
1542   68  299      5

[1568 rows x 3 columns]

In [ ]:
class clf:
    def __init__(self,N,alpha):
        pass
    
    def fit(self,df):
        pass
    def predict(self,x):
        pass
    def score(self,x,y):
        return len(set(y)-set(self.predict(x)))

In [ ]:
scores = []

for tid in sorted(set(df.tids)):
    clf.fit(df[df.tid<tid])
    scores += clf.score(tid+1,pids(tid))

pd.Series(scores).mean()